.cover__link{
    background-image: url(../../../images/__background.png);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: block;
    margin: 0;
    text-decoration: none;
    color: #fff;
    width: 320px;
    min-height: 203px;
}

@media screen and (min-width: 768px) {
    .cover__link{
        width: 768px;
        min-height: 480px;
    }
}

@media screen and (min-width: 1024px) {
    .cover__link{
        width: 1020px;
        min-height: 640px;
    }
}
@media screen and (min-width: 1280px) {
    .cover__link{
        width: 1184px;
        min-height: 740px;
    }
}