.photo-grid{
    min-width: 290px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 288px);
    grid-template-rows: repeat(3, 216px);
    grid-auto-rows: 213px;
    gap: 12px;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .photo-grid{
        grid-template-columns: repeat(auto-fit, 352px);
        grid-template-rows: repeat(6, 264px);
        gap: 16px;
        grid-auto-rows: 264px;
    }
}

@media screen and (min-width: 1024px) {
    .photo-grid{
        grid-template-columns: repeat(auto-fit, 300px);
        grid-template-rows: repeat(4, 225px);
        gap: 14px;
        grid-auto-rows: 225px;
    }
}

@media screen and (min-width: 1280px) {
    .photo-grid{
        grid-template-columns: repeat(auto-fit, 284px);
        grid-template-rows: repeat(3, 213px);
        gap: 16px;
        grid-auto-rows: 213px;
    }
}