.lead__caption{
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    padding-top: 8px;
    justify-self: start;
}

@media screen and (min-width: 768px) {
    .lead__caption{
        margin-left: 24px;
    }
}

@media screen and (min-width: 1024px) {
    .lead__caption{
        margin: 8px 28px 0;
    }
}

@media screen and (min-width: 1280px) {
    .lead__caption{
        margin-left: 148px;
    }
}