.place{
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px){
  .place{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(2,minmax(min-content, 350px));
    max-width: 930px;
    grid-template-areas:
      "title website"
      "image paragraphs";

      gap: 48px 40px;
  } 
}

@media screen and (min-width: 1024px){
  .place{
    column-gap: 32px;
  } 
}

@media screen and (min-width: 1280px){
  .place{
    column-gap: 40px;
  } 
}