.footer{
    padding: 61px 16px 24px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media screen and (min-width: 768px){
    .footer{
        padding: 0;
       flex-direction: row;
       justify-content: space-between;
       margin: 88px 24px 24px;
    }
}

@media screen and (min-width: 1024px){
    .footer{
       margin: 92px 48px 24px;
    }
}