.footer__column-links{
    text-decoration: none;
    list-style: none;
    margin-top: 15px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .footer__column-links{ 
        flex-direction: row;
        
    }
    
}