.header__links-lang{
    display: grid;
    grid-template-columns: repeat(2, 22px);
    grid-template-rows: repeat(1, 20px);
    gap: 18px;
    list-style: none;
    margin-top: 15px;
    padding: 0;
}