.place__website{
    margin: 32px 16px;
    padding: 0;
    min-width: 290px;
    display: grid;
    gap: 12px;
  
}

@media screen and (min-width: 768px) {
    .place__website{
        margin-bottom: 0;
        align-self: end;
    }
}